@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --background-color: #ecf8ff;
  --foreground-color: #ffffff;

  --text-color: #000000;
  --text-color-mute: #707070;

  --default-font-family: Poppins, Arial, Helvetica, sans-serif;
  --default-outline: 1px solid rgba(0, 0, 0, 0.1);
  --default-border-radius: 0.25em;

  --default-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  --default-box-shadow-heavy: 0 0 6px 0 rgba(0, 0, 0, 0.4);

  --primary-color: #0087ff;
  --primary-color-alt: #ffffff;

  --secondary-color: #ddefff;
  --secondary-color-alt: var(--primary-color);

  --danger-color: #ff4848;
}

/* semantic color variables for this project */
:root {
  /* TODO */
}

body {
  margin: 0;

  background-color: var(--background-color);
  color: var(--text-color);

  font-family: var(--default-font-family);
  font-size: 14px;
}

/* resets */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 600;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: inherit;
}
