@import "./base.css";

#app {
}

/* flex utilities */
.flex {
  display: flex;
}

.flex.flex--column {
  flex-direction: column;
}

.flex.justify--center {
  justify-content: center;
}

.flex.justify--between {
  justify-content: space-between;
}

.flex.justify--end {
  justify-content: end;
}

.flex.align--center {
  align-items: center;
}

.flex.align--stretch {
  align-items: stretch;
}

.flex.gap--xs {
  gap: 0.25em;
}

.gap--sm {
  gap: 0.5em;
}

.gap--md {
  gap: 0.8em;
}

.gap--lg {
  gap: 1.6em;
}

.gap--xl {
  gap: 2.4em;
}

.flex.flex--wrap {
  flex-wrap: wrap;
}

/* page utilities */
.container {
  margin: 0 auto;
  max-width: 1536px;
}

/* boxes */
.box--primary {
  padding: 0.4em;

  background-color: var(--primary-color);
  color: var(--primary-color-alt);

  outline: var(--default-outline);
  border-radius: var(--default-border-radius);

  box-shadow: var(--default-box-shadow);
  transition: box-shadow 0.2s;
}

.box--primary:hover {
  box-shadow: var(--default-box-shadow-heavy);
}

.box--secondary {
  padding: 0.4em;

  background-color: var(--secondary-color);
  color: var(--secondary-color-alt);

  outline: var(--default-outline);
  border-radius: var(--default-border-radius);

  box-shadow: var(--default-box-shadow);
  transition: box-shadow 0.2s;
}

.box--secondary:hover {
  box-shadow: var(--default-box-shadow-heavy);
}
